$color-white: #fff;
$color-dark-theme: #2c2c2c;
$color-blue-theme: #008aff;
$color-background: #f2f6fa;
$color-blue: #2060f6;
$color-blue-rgb: 32, 96, 246;
$color-blue-hover: #144ed4;
$color-coral: #ff9c8e;
$color-coral-hover: #ff7e6c;
$color-azure: #56ccf2;
$color-azure-rgb: 86, 204, 242;
$color-yellow: #fcc91d;
$color-yellow-rgb: 252, 201, 29;
$color-green: #15d850;
$color-green-rgb: 21, 216, 80;
$color-red: #f36363;
$color-red-rgb: 243, 99, 99;
$color-text-dark: #253757;
$color-text-normal: #6c788b;
$color-text-light: #c0cdd7;
$transition-time: 0.3s;
$media-wide-screen: 1280px;
$media-desktop: 1024px;
$media-tablet: 640px;
$dark-theme-border-radius: 30px;
$light-theme-border-radius: 100px;
$slides-number: 4;
$slider-width: 100% * $slides-number;
$slide-width: 100% / $slides-number;
